.form-element {
  padding: 5px 0px 25px 2px;
  width: 75%;
  max-height: 5px;
}

.form {
  max-width: 620px;
  width: 100%;
}

.progress-bar{
  margin-top: -23px;
  margin-bottom: 20px;
}
.max-width-29{
  max-width: 29%;
}
.candidate-info ,.interview-info {
  min-width: 10%;
  padding-right: 25px
}
.submitbutton{
  float: right;
  background: blue;
  color: white;
  height: 36px;
}

.example-form {
  max-width: 620px;
  width: 100%;
}
