$base-color: #fff;

mat-card {
  width: 400px;
  // margin: 2em auto;
  text-align: center;
}

::ng-deep.mat-form-field-underline {
  background-color: $base-color !important ;
}
mat-form-field {
  display: block;
}
::ng-deep.mat-form-field-required-marker{
  color: $base-color !important ;
}
.overlay {
  opacity: 0.5;
  cursor: none;
}

.container{
  background-image: url('../../assets/bg-img.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  // z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
  .login-wraper {
    background: rgba(0,0,0,0.8);
    overflow: hidden;
    color: $base-color;
    .login-btn{
      width: 100%;
    }
    .w-c{
      color:$base-color;
    }
    .c-p{
      cursor: pointer;
    }
    .frgt-pwd{
      margin-bottom: 5px;
      float: right;
    }
    .spinner{
      z-index: 100;
      position: absolute;
      bottom: 14%;
      right: 5%;
    }
  }
}

