<div class="container">
  <mat-card class="login-wraper">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
      <mat-card-content>
        <div>
          <img alt="GLO" src="assets/logo.png" />
        </div>
        <mat-error *ngIf="loginInvalid">
          The email and password were not recognised
        </mat-error>
        <mat-form-field class="full-width-input">
          <mat-label class="w-c">Email</mat-label>
          <input
            matInput
            placeholder="Email"
            formControlName="username"
            required
          />
          <mat-icon matSuffix>local_post_office</mat-icon>
          <mat-error>
            Please provide a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <mat-label class="w-c">Password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
            required
          />
          <mat-icon matSuffix class="c-p"  (click)="hide = !hide">{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          <mat-error>
            Please provide a valid password
          </mat-error>
        </mat-form-field>
        <div class="frgt-pwd">
          <button mat-button color="primary" type="button" class="fl">
            Forgot Password ?
          </button>
        </div>
        <!-- <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">Option 1</mat-radio-button>
        <mat-radio-button value="2">Option 2</mat-radio-button>
      </mat-radio-group>

    -->
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-raised-button
          type="submit"
          class="login-btn"
          color="primary"
          [class.overlay] = "isLoading"
        >
          Login

        </button>
        <mat-spinner *ngIf="isLoading"  color="accent" class="spinner" [diameter]="20"></mat-spinner>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
