<mat-progress-bar *ngIf="isDataLoading"  mode="indeterminate"></mat-progress-bar>
<div class="example-container" class="mat-elevation-z8">
<mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef  mat-sort-header>Name</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.candidateName }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="phone">
    <mat-header-cell *matHeaderCellDef  mat-sort-header>Phone</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.candidatePhoneNo }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="cadidateemail">
    <mat-header-cell *matHeaderCellDef  mat-sort-header>Cadidateemail</mat-header-cell>
    <mat-cell class="wba" *matCellDef="let element">{{ element.candidateEmail }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="intervieweremail">
    <mat-header-cell *matHeaderCellDef  mat-sort-header>Interviewer Email</mat-header-cell>
    <mat-cell class="wba" *matCellDef="let element">{{ element.interviweremail }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="dateofinterview">
    <mat-header-cell *matHeaderCellDef  mat-sort-header>Interview Date</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.interviewDate | date }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="interviewtime">
    <mat-header-cell *matHeaderCellDef  mat-sort-header>Time</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.interviewtime }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="resume">
    <mat-header-cell *matHeaderCellDef  mat-sort-header>Resume</mat-header-cell>
    <mat-cell class="wba" *matCellDef="let element">{{ element.resume }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="stream">
    <mat-header-cell *matHeaderCellDef  mat-sort-header>Stream</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.stream }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="round">
    <mat-header-cell *matHeaderCellDef  mat-sort-header>Round</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.round }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="skillSet">
    <mat-header-cell *matHeaderCellDef  mat-sort-header>Stack</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.skillSet }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="location">
    <mat-header-cell *matHeaderCellDef  mat-sort-header>Location</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.location }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="position">
    <mat-header-cell *matHeaderCellDef  mat-sort-header>Postition</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.position }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef  mat-sort-header>Actions</mat-header-cell>
    <mat-cell *matCellDef="let element" class="icon-cell">
        <mat-icon (click)="editApplicant(element)">edit</mat-icon>
        <mat-icon (click)="deleteApplicant(element.id)">delete</mat-icon>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
  <mat-paginator [pageSizeOptions]="[10, 15, 25, 100]" ></mat-paginator>
</div>
  <button mat-fab color="primary" class="fab-icon" (click)="createApplicant()">
    <mat-icon>add</mat-icon>
  </button>

