th {
  min-width:15%;
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-row:hover  {
  background-color: rgba(232, 230, 225, 0.9);
}

.fab-icon {
  bottom: 50px;
  right: 50px;
  position: fixed;
}

.actions {
  display: flex;
}

mat-icon {
  padding-right: 15px;
}

.position {
  margin-top: 20px;
}

mat-icon{
  cursor: pointer;
}

